#aboutTextSection {
  margin-top: 175px;
}

#aboutText {
  margin-top: 30px;
  text-align: left;
}

.footerInfoTitle {
  color: white !important;
}

#mobileHeroImage {
  margin-top: 0px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #mobileHeroImage {
    display: none;
  }
}

#footerLogo {
  text-align: center;
  height: 175px;
  width: auto;
  padding-right: 10px;
}

@media only screen and (max-width: 768px) {
  #footerLogo {
    height: 100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1200px) {
  #footerContent {
    margin-left: 250px;
  }
}

@media (max-width: 767px) {
  #inAssociationWith {
    margin-top: 68px;
  }
}
